/*自定义的样式文件*/
.main{
    margin: 30px;
    background-color: white;
   /*height: 1000px;*/
}
body{
    background-color: #efefef;
}
/*发布按钮的自定义样式*/
.sb{
    float: right;
    margin-bottom: 15px;
}
/*#image{*/
      /*width: 35px;*/
    /*height: 35px;*/
/*}*/
.media-object{
    width: 38px;
    height: 38px;
}
.text-desc{
     font-size: 12px;
    font-weight: normal;
    color: #999;
}