<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.4//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cbx.springbootcommunity.mapper.QuestionMapper">
    <insert id="create" parameterType="Question">
        insert into question (title,description,gmt_create,gmt_modified,creatorId,comment_count,view_count,like_count,tag) VALUES
         (#{title},#{description},#{gmtCreate},#{gmtModified},#{creatorId},#{commentCount},#{viewCount},#{likeCount},#{tag})
    </insert>
</mapper>